<article class="article">
    <a href="{% url 'app:bottle-detail' object.pk %}">
        <p class="article-name">{{ object.bottle_name }}</p>
        <p class="article-content">{{ object.management.restaurant }}</p>
        <span class="article-data">
            <p>空ボトル</p>
            <p class="">{% if object.is_empty %}Yes{% else %}No{% endif %}</p>
        </span>
        <span class="article-data">
            <p>預かり期日</p>
            <p class="">{{ object.storage_period }}</p>
        </span>
    </a>
</article>