{% extends "app/bottle/_base.html" %}
{% block main %}
<section id="bottle-detail" class="section detail">
    <div class="section-title-container">
        <h2 class="section-title">Information</h2>
        {% if object.management.customer == user %}
        <a href="{% url 'app:bottle-edit' object.pk %}">Edit</a>
        {% endif %}
    </div>
    <div class="section-content">
        <div class="information-container">
            <h3 class="information-title">酒名</h3>
            <div class="information-content">
                <p>{{ object.bottle_name }}</p>
            </div>
        </div>
        <div class="information-container">
            <h3 class="information-title">管理用ID</h3>
            <div class="information-content">
                <p>{{ object.management.management_name }}</p>
            </div>
        </div>
        <div class="information-container">
            <h3 class="information-title">ボトル購入日</h3>
            <div class="information-content">
                <p>{{ object.purchase_date }}</p>
            </div>
        </div>
        <div class="information-container">
            <h3 class="information-title">預かり期日</h3>
            <div class="information-content">
                <p>{{ object.storage_period }}</p>
            </div>
        </div>
        <div class="information-container">
            <h3 class="information-title">空ボトルか？</h3>
            <div class="information-content">
                <p>{% if object.is_empty %}Yes{% else %}No{% endif %}</p>
            </div>
        </div>
        <div class="information-container">
            <h3 class="information-title">飲食店</h3>
            <div class="information-content">
                <p><a href="{% url 'app:restaurant-detail' object.management.restaurant.pk %}" style="border-bottom: 1px solid var(--color-primary1);">{{ object.management.restaurant }}</a></p>
            </div>
        </div>
        {% if object.management.customer == user %}
        <div class="button-row-container">
            <form action="{% url 'app:bottle-change-is-empty' object.pk %}" method="post" id="bottle-change-is-empty-form">
                {% csrf_token %}
                <button type="button" onclick="bottleChangeIsEmpty('{{ object.is_empty }}')" class="button">Change Empty</button>
            </form>
            <form action="{% url 'app:bottle-delete' object.pk %}" method="post" id="bottle-delete-form">
                {% csrf_token %}
                <button type="button" onclick="bottleDelete()" class="button">Delete</button>
            </form>
        </div>
        {% endif %}
    </div>
</section>
{% endblock main %}