{% load static %}
{% if not user.is_authenticated %}
<a href="{% url 'app:index' %}" class="header-logo"><img src="{% static 'img/logo.svg' %}" alt="サービスロゴ"></a>
<div class="hamburger-menu">
    <input type="checkbox" id="menu-btn-check">
    <label for="menu-btn-check" class="menu-btn"><span></span></label>
    <nav class="menu-content">
        <ul class="nav-list"></ul>
        <div class="nav-auth">
            <a href="{% url 'account:signup' %}" class="button auth-btn">Sign Up</a></li>
            <a href="{% url 'account:login' %}" class="button auth-btn">Log In</a></li>
        </div>
    </nav>
</div>
{% else %}
<a href="{% url 'app:home' %}" class="header-logo"><img src="{% static 'img/logo.svg' %}" alt="サービスロゴ"></a>
<div class="hamburger-menu"></div>
    <input type="checkbox" id="menu-btn-check">
    <label for="menu-btn-check" class="menu-btn"><span></span></label>
    <nav class="menu-content">
        <ul class="nav-list">
            <li class="nav-list-item">
                <div class="nav-details">
                    <p class="nav-summary">Restaurant<span class="accordion-btn"></span></p>
                    <ul class="nav-details-contents">
                        <li class="nav-details-list"><a href="{% url 'app:restaurant-index' %}">Index</a></li>
                        <li class="nav-details-list"><a href="{% url 'app:restaurant-list' %}">List</a></li>
                        <li class="nav-details-list"><a href="{% url 'app:restaurant-create' %}">Create</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-list-item">
                <div class="nav-details">
                    <p class="nav-summary">Bottle Management<span class="accordion-btn"></span></p>
                    <ul class="nav-details-contents">
                        <li class="nav-details-list"><a href="{% url 'app:bottle-management-index' %}">Index</a></li>
                        <li class="nav-details-list"><a href="{% url 'app:bottle-management-list' %}">List</a></li>
                        <li class="nav-details-list"><a href="{% url 'app:bottle-management-create' %}">Create</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-list-item">
                <div class="nav-details">
                    <p class="nav-summary">Bottle<span class="accordion-btn"></span></p>
                    <ul class="nav-details-contents">
                        <li class="nav-details-list"><a href="{% url 'app:bottle-index' %}">Index</a></li>
                        <li class="nav-details-list"><a href="{% url 'app:bottle-list' %}">List</a></li>
                        <li class="nav-details-list"><a href="{% url 'app:bottle-create' %}">Create</a></li>
                    </ul>
                </div>
            </li>
        </ul>

        <form action="{% url 'account:logout' %}" method="post" class="nav-auth">
            {% csrf_token %}
            <button type="submit" class="button auth-btn">Log Out</button>
        </form>
    </nav>
</div>
{% endif %}