{% extends "app/bottle_management/_base.html" %}
{% block main %}
<section id="bottle-management-detail" class="section detail">
    <div class="section-title-container">
        <h2 class="section-title">Information</h2>
        {% if object.customer == user %}
        <a href="{% url 'app:bottle-management-edit' object.pk %}">Edit</a>
        {% endif %}
    </div>
    <div class="section-content">
        <div class="information-container">
            <h3 class="information-title">管理用ID</h3>
            <div class="information-content">
                <p>{{ object.management_name }}</p>
            </div>
        </div>
        <div class="information-container">
            <h3 class="information-title">飲食店</h3>
            <div class="information-content">
                <p><a href="{% url 'app:restaurant-detail' object.restaurant.pk %}">{{ object.restaurant }}</a></p>
                <iframe src="http://maps.google.co.jp/maps?q={{ object.restaurant.address }}&output=embed&t=m&z=16&hl=ja" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
        {% if object.customer == user %}
        <form action="{% url 'app:bottle-management-delete' object.pk %}" method="post" id="bottle-management-delete-form">
            {% csrf_token %}
            <button type="button" onclick="bottleManagementDelete()" class="button" >Delete</button>
        </form>
        {% endif %}
    </div>
</section>
{% endblock main %}